* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  font-family: 'Inter', sans-serif;
}

.d-flex {
  display: flex;

  &.sb {
    justify-content: space-between;
  }

  &.center {
    align-items: center;
  }
}