* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: SF Pro Display, sans-serif;
    //font-family: DM Sans;
}

html {
    &::-webkit-scrollbar {
        display: none;
    }
}

body{
    -webkit-overflow-scrolling: touch;

    touch-action: manipulation;
    height: 100%;
}

//old
.d-flex {
    display: flex;

    &.sb {
        justify-content: space-between;
    }

    &.center {
        align-items: center;
    }

    &.jc {
        justify-content: center;
    }
}
.d-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

//new
.flex {
    display: flex;
}
.f-column {
    flex-direction: column;
}
.j-center {
    justify-content: center;
}
.a-center {
    align-items: center;
}

.deg90 {
    transform: rotate(90deg);
}
.deg270 {
    transform: rotate(270deg);
}

.ellipse {
    pointer-events: none;
    background: #B9FD0252;
    filter: blur(69px);

    opacity: 0.8;
    position: absolute;
    top: -145px;
    left: -124px;
    width: 342px;
    height: 342px;
    border-radius: 50%;
}

.checkbox-off {
    width: 24px;
    height: 24px;

    border-radius: 6px;
    border: 3px solid #91919F;
    background: $black2;
}

.checkbox-on {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    background: $green1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playtime-info {
    display: flex;
    gap: 30px;

    &-block {
        width: 117px;
        display: flex;
        gap: 8px;

        & > div {
            display: flex;
            flex-direction: column;
            gap: 4px;

            p {
                all: initial;
                color: $green1;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 127.336%;
                white-space: nowrap;
            }

            span {
                font-weight: 400;
                font-size: 14px;
                white-space: nowrap;
            }
        }
    }
}

.btn-green-demi-outline {
    display: flex !important;
    height: 47px !important;
    padding: 15px 16px !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 10px !important;
    flex-shrink: 0 !important;

    border-radius: 10px !important;
    border: 1px solid $green1 !important;
    background: rgba(185, 253, 2, 0.32) !important;

    color: $green1 !important;
    text-align: center !important;
    font-size: 13px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
}

.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}

.field-type-card {
    display: flex;
    align-items: center;

    .field-checkbox {
        margin-right: 20px;
        margin-left: 27px;
        width: 20px;
        height: 20px;
        border-radius: 22px;
        border: 2px solid #B9FD02;
        background: #373C34;
        position: relative;

        &.active {
            &:after {
                position: absolute;
                content: '';
                width: 12px;
                height: 12px;
                background: $green1;
                border-radius: 50%;
                left: 2px;
                top: 2px;
            }
        }
    }

    .field-info {
        margin-right: auto;

        p {
            color: white;
            font-feature-settings: 'clig' off, 'liga' off;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        span {
            color: white;
            font-feature-settings: 'clig' off, 'liga' off;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    img {
        width: 68px;
        height: 68px;
        border-radius: 21px;
        overflow: hidden;
        object-fit: cover;
        border: 2px solid $black2;

        &.active {
            border: 2px solid $green1;
        }
    }

    //width: 319px;
    height: 68px;

    border-radius: 22px;
    background: $black2;
    backdrop-filter: blur(20px);
}

.cancel-modal-wrapper {
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .cancel-modal {
        border-radius: 24px;
        background: $black1;
        backdrop-filter: blur(20px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        width: 300px;
        padding: 30px 15px;
        position: relative;

        hr {
            border: none;
            border-top: 1px solid #333;
            width: 100%;

            &.green-hr {
                border-top: 3px solid $green1;
                position: absolute;
                top: 0;
                width: 100px;
            }
        }
        h3 {
            color: white;
            text-align: center;
            font-feature-settings: 'clig' off, 'liga' off;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        span {
            color: #AFAFAF;
            text-align: center;
            font-feature-settings: 'clig' off, 'liga' off;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        p {
            color: $green1;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            cursor: pointer;

            &.green-bg {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 38px;
                padding: 15px 16px;
                border-radius: 10px;
                background: $green1;
                color: #111518;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
    }
}

//scrollbar
::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background: $grey-200;
    border: 1px solid $grey-200;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: $grey-300;
}

//loader
.loader {
    width: 80px; /* Ширина круга */
    height: 80px; /* Высота круга */
    border: 4px solid #ccc; /* Толщина границы */
    border-top: 4px solid $green1; /* Толщина верхней границы (закрашенной части) */
    border-radius: 50%; /* Превращаем в круг */
    animation: spin 2s linear infinite; /* Анимация вращения */
}
.loader-inner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: transparent;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
