* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  font-family: DM Sans, sans-serif;
  //font-family: DM Sans;
}

.d-flex {
  display: flex;

  &.sb {
    justify-content: space-between;
  }

  &.center {
    align-items: center;
  }
}

.deg90 {
  transform: rotate(90deg);
}
.deg270 {
  transform: rotate(270deg);
}