<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BRONKZapp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>212175616260AD853E6FDFE15639EE970B4E67FF</string>
				<key>dateExpires</key>
				<string>30.08.2024</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>RKFAH8DFJ3.com.bronkz.app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>RKFAH8DFJ3</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>BRONKZapp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fa3d53a0-4270-4368-855c-d0aa59f635ae</string>
				<key>dateExpires</key>
				<string>30.08.2024</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.bronkz.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>RKFAH8DFJ3</string>
				<key>name</key>
				<string>Altynbek Batal</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1</string>
		</dict>
	</array>
</dict>
</plist>
